<div class="px-4 sm:px-0">
  <h3 class="text-base font-semibold leading-7 text-gray-900">Task Description</h3>
  <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-500">Please provide the details.</p>
</div>
<p class="text-sm text-red-900"><%= error_message(@changeset) %></p>
<%= Phoenix.Template.render(JiraWeb.TaskHTML, "form", "html",
  changeset: @changeset,
  action: "/projects/#{@project_id}/tasks",
  submit: "Create"
) %>
